fastapi==0.115.0
uvicorn[standard]==0.30.6
pydantic>=2.0
numpy==2.1.2
soundfile==0.12.1
librosa==0.10.2.post1
transformers==4.57.3
accelerate==1.12.0
PyYAML==6.0.2
torchaudio==2.7.0
sox==1.5.0
onnxruntime==1.22.1
einops==0.8.1
